
.header1 {
 display: flex;
 justify-content: space-around;
 background-color: #448ac6;
 align-items: center;
}
.parag {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.logo1{
    width:171px;
    height: 36px;
    background-color: #448ac6;
}
.menu {
    display:flex;
    gap:30px;
    list-style-type: none;
    color: white;
}
.menu li {
    cursor: pointer;
}
.b4{
    background-color: black;
}   
.parag {
    display: flex;
    flex-direction: column;
    gap: 10px;
}