/* formato celular */
@media (max-width: 768px)  {
   .section6 p {
    height: auto;
   }
   .section1 {
    width: auto;
    
   }
   .divpai {
    flex-direction: column;
    align-items: center;
   }
    
   .section5 p {
    width: auto;
    padding: 45px;
   }
   .section3 {
    flex-direction: column;
    align-items: center;
   }
   .section4 {
    flex-direction: column;
    align-items: center;
   }
   .section6 {
    flex-direction: column;
    margin:50px;
   }

}